{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Listado de los trabajadores{% endblock %}
{% block panel_title %}Listado de los trabajadores{% endblock %}
{% block panel_body %}
    <table class="table">
        <thead>
        <tr>
            <th>Número de Identidad</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Habilitado</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for trabajador in trabajadors %}
            <tr>
                <td>{{ trabajador.persona.numeroIdentidad }}</td>
                <td>{{ trabajador.persona }}</td>
                <td>{{ trabajador.cargo }}</td>
                <td>{{ trabajador.habilitado ? 'Yes'|trans({},'nomenclador') : 'No'|trans({},'nomenclador') }}</td>
                <td>
                    <a href="{{ path('admin_trabajador_show', {'trabajador': trabajador.id}) }}"
                       class="btn btn-xs btn-default" title="{{ 'show'|trans([],'nomenclador') }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('admin_trabajador_edit', {'trabajador': trabajador.id}) }}"
                       class="btn btn-xs btn-default" title="{{ 'edit'|trans([],'nomenclador') }}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no records found'|trans({},'nomenclador')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-primary" href="{{ path('admin_trabajador_new') }}">
        {{ 'new'|trans([],'admin_trabajador') }}</a>
{% endblock %}
