{% extends 'base.html.twig' %}

{% block title %}Trabajador index{% endblock %}

{% block body %}
    <h1>Trabajador index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Habilitado</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for trabajador in trabajadors %}
            <tr>
                <td>{{ trabajador.persona }}</td>
                <td>{{ trabajador.cargo }}</td>
                <td>{{ trabajador.habilitado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('trabajador_show', {'trabajador': trabajador.id}) }}">{{ 'show'|trans([],'admin_trabajador') }}</a>
                    <a href="{{ path('trabajador_edit', {'trabajador': trabajador.id}) }}">{{ 'edit'|trans([],'admin_trabajador') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trabajador_new') }}">{{ 'new'|trans([],'admin_trabajador') }}</a>
{% endblock %}
