{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Listado de los trabajadores{% endblock %}
{% block panel_title %}Listado de los trabajadores{% endblock %}
{% block panel_body %}
    <div class="col-xs-12 col-sm-12 col-lg-7 pull-right">
        {{ knp_pagination_filter(pagination, {
            'p.numero_identidad': 'numero de identidad',
            'p.nombre_primero': 'nombre',
            'p.apellido_primero': 'primer apellido',
            'p.apellido_segundo': 'segundo apellido',
            'c.usuario': 'usuario',
        }, {
            'button': 'filtrar',
            'reset': {
                'button': 'reset',
                'route': 'admin_trabajador_index'
            },
            'translationDomain': 'admin'
        }) }}
    </div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th {% if pagination.isSorted('p.numero_identidad') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'numero de identidad'|trans({},'admin'), 'p.numero_identidad') }}
                    </th>
                    <th>{{ 'nombre'|trans({},'admin') }}</th>
                    <th>{{ 'sexo'|trans({},'admin') }}</th>
                    <th>{{ 'cargo'|trans({},'admin') }}</th>
                    <th {% if pagination.isSorted('e.id') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'estructura'|trans({},'admin'), 'e.id') }}
                        {# {{ 'estructura'|trans({},'admin') }} #}
                    </th>
                    <th>{{ 'habilitado'|trans({},'admin') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for trabajador in pagination %}
                    <tr>
                        <td {% if loop.index is odd %}class="color"{% endif %}>
                            {{ trabajador.persona.numeroIdentidad }}
                        </td>
                        <td>{{ trabajador.nombreCompleto }}</td>
                        <td>{{ trabajador.sexo }}</td>
                        <td>{{ trabajador.cargo }}</td>
                        <td>{{ trabajador.estructura }}</td>
                        <td>{{ trabajador.habilitado ? 'si'|trans({},'admin') : 'no'|trans({},'admin') }}</td>
                        <td>
                            <a href="{{ path('admin_trabajador_edit', {'id': trabajador.id}) }}"
                               class="btn btn-xs btn-default" title="{{ 'editar'|trans([],'admin') }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'No se encontraron registros'|trans({},'admin') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn btn-sm btn-primary" href="{{ path('admin_trabajador_new') }}">
                {{ 'nuevo'|trans([],'admin') }}
            </a>
        </div>
    </div>
{% endblock %}
