{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Vista del Trabajador{% endblock %}
{% block panel_title %}Vista del Trabajador{% endblock %}
{% block panel_body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Primer nombre</th>
            <td>{{ trabajador.persona.nombrePrimero }}</td>
        </tr>
        <tr>
            <th>Segundo nombre</th>
            <td>{{ trabajador.persona.nombreSegundo }}</td>
        </tr>
        <tr>
            <th>Primer apellido</th>
            <td>{{ trabajador.persona.apellidoPrimero }}</td>
        </tr>
        <tr>
            <th>Segundo apellido</th>
            <td>{{ trabajador.persona.apellidoSegundo }}</td>
        </tr>
        <tr>
            <th>Cargo</th>
            <td>{{ trabajador.cargo }}</td>
        </tr>
        <tr>
            <th>Habilitado</th>
            <td>{{ trabajador.habilitado ? 'Yes'|trans({},'nomenclador') : 'No'|trans({},'nomenclador') }}</td>
        </tr>
        <tr>
            <th>Grupos</th>
            <td>
                {% for grupo in trabajador.grupos %}
                    {{ grupo }}<br>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-sm btn-primary" href="{{ path('admin_trabajador_edit', {'trabajador': trabajador.id}) }}">
        {{ 'editar'|trans({},'admin') }}
    </a>
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_trabajador_index') }}">{{ 'No se encontraron registros'|trans({},'admin') }}</a>

    <div class="pull-right">
        {{ include('admin/trabajador/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            let btn = $('.delete');
            let form = btn.parent('form');
            btn.click(function () {
                swal({
                        title: "Estás seguro",
                        text: "¡No podrá recuperar los datos del trabajador!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, bórralo!",
                        cancelButtonText: "Cancelar"
                    },
                    function (isConfirm) {
                        console.log(form);
                        if (isConfirm) form[0].submit();
                    });
            });
            form.on('submit', function (e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
