<div class="row">
    <div class="col-lg-6">
        {% set fields = {
            codigo_aduana: {class:'col-sm-6'},
            codigo_operador: {class:'col-sm-6'}
        } %}
        {% for key,field in fields %}
            <div class="form-group {{ field.class }}">
                {{ form_label(form.parametros[key]) }}
                {{ form_widget(form.parametros[key]) }}
                {{ form_help(form.parametros[key]) }}
                {{ form_errors(form.parametros[key]) }}
            </div>
        {% endfor %}
    </div>
</div>

{% include('@App/admin/estructura/_form_inputs.html.twig') %}