{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ settings.titles.index }}{% endblock %}
{% block body %}
    {# @let form \App\Entity\Estructura #}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-estructura" aria-expanded="true">Estructura</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-aduana" aria-expanded="false">Aduana</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-estructura" class="tab-pane active">
                        <div class="panel-body">
                            {% include('@App/admin/estructura/_tab_estructura.html.twig') %}
                        </div>
                    </div>
                    <div id="tab-aduana" class="tab-pane">
                        <div class="panel-body">
                            {% include('@App/admin/estructura/_tab_aduana.html.twig') %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block stylesheets %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        .preview {
            background-repeat: no-repeat;
            height: 100px;
            border: 1px solid #bbbbbb;
            padding: 3px;
            border-radius: 3px 3px 0 0;
        }

        .preview img {
            width: 100%;
            max-height: 92px;
        }

        .remove_radio {
            border-radius: 0 0 3px 3px !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#estructura_logo').on("change", function () {
                let files = !!this.files ? this.files : [];

                if (!files.length || !window.FileReader)
                    return; // no file selected, or no FileReader support

                $('#imageName').val(files[0].name);
                if (/^image/.test(files[0].type)) { // only image file
                    let reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
                    reader.onloadend = function () { // set image data as background of div
                        $('#imagePreview').attr("src", this.result);
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).on('ready', function (e) {
            let estructura = {
                tabAduana: function () {
                    let selectTipos = $('#estructura_tipos');
                    let tabAduana = $('a[href="#tab-aduana"]');
                    selectTipos.on('change', function (e) {
                        let tiposSelected = selectTipos.select2("data");
                        estructura.checkTab(tabAduana, tiposSelected, 'Empresa');
                    });
                },
                checkTab: function (tab, selected, text) {
                    if (selected.filter(tipos => tipos.text === text).length > 0) {
                        tab.show()
                        $(tab[0].hash).find('input').removeAttr('disabled', 'disabled')
                    } else {
                        tab.hide()
                        $(tab[0].hash).find('input').attr('disabled', 'disabled')
                    }
                },
                init: function () {
                    estructura.checkTab($('a[href="#tab-aduana"]'), $('#estructura_tipos').select2("data"), 'Empresa')

                    this.tabAduana();
                }
            }
            estructura.init();
            $('form').validate();

            {% if entity.id %}
            let formDelete = $('<form action="{{ path(settings.routes.delete, {'id': entity.id}) }}" method="post"></form>')
                .append('<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">');

            $('.delete').click(function () {
                swal({
                        title: "Estás seguro",
                        text: "¡No podrá recuperar los datos del trabajador!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, bórralo!",
                        cancelButtonText: "Cancelar"
                    },
                    function (isConfirm) {
                        if (isConfirm)
                            formDelete.appendTo('body').submit();
                    });
            });
            {% endif %}
        });
    </script>
{% endblock %}