{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ settings.titles.index }}{% endblock %}
{% block body %}
    {# @var form \App\Entity\Estructura #}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-estructura" aria-expanded="true">Estructura</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-aduana" aria-expanded="false">Aduana</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-estructura" class="tab-pane active">
                        <div class="panel-body">
                            {% include('@App/admin/estructura/_tab_estructura.html.twig') %}
                        </div>
                    </div>
                    <div id="tab-aduana" class="tab-pane">
                        <div class="panel-body">
                            {% include('@App/admin/estructura/_tab_aduana.html.twig') %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).on('ready', function (e) {
            let estructura = {
                tabAduana: function () {
                    let selectTipos = $('#estructura_tipos');
                    let tabAduana = $('a[href="#tab-aduana"]');
                    selectTipos.on('change', function (e) {
                        let tiposSelected = selectTipos.select2("data");
                        estructura.checkTab(tabAduana, tiposSelected, 'Empresa');
                    });
                },
                checkTab: function (tab, selected, text) {
                    console.log($(tab[0].hash).find('input').attr('disabled', 'disabled'));
                    if (selected.filter(tipos => tipos.text === text).length > 0) {
                        tab.show()
                        $(tab[0].hash).find('input').removeAttr('disabled', 'disabled')
                    } else {
                        tab.hide()
                        $(tab[0].hash).find('input').attr('disabled', 'disabled')
                    }
                },
                init: function () {
                    estructura.checkTab($('a[href="#tab-aduana"]'), $('#estructura_tipos').select2("data"), 'Empresa')

                    this.tabAduana();
                }
            }
            estructura.init();
            $('form').validate();

            {% if entity.id %}
            let formDelete = $('<form action="{{ path(settings.routes.delete, {'id': entity.id}) }}" method="post"></form>')
                .append('<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">');

            $('.delete').click(function () {
                swal({
                        title: "Estás seguro",
                        text: "¡No podrá recuperar los datos del trabajador!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, bórralo!",
                        cancelButtonText: "Cancelar"
                    },
                    function (isConfirm) {
                        if (isConfirm)
                            formDelete.appendTo('body').submit();
                    });
            });
            {% endif %}
        });
    </script>
{% endblock %}