{{ form_start(form) }}
{# @var fv \Symfony\Component\Form\FormView #}
{% for fv in form %}
    {% if fv.vars.name != '_token' %}
        <div class="form-group">
            {{ form_label(fv) }}
            <div class="col-sm-10">{{ form_widget(fv) }}</div>
            {{ form_errors(fv) }}
        </div>
    {% endif %}
{% endfor %}
<div class="pull-right">
    <button class="btn btn-sm btn-success">{{ button_label|default('save'|trans([],'nomenclador')) }}</button>
</div>
{{ form_end(form) }}
