{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_body %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ 'codigo'|trans([],'admin') }}</th>
                <th>{{ 'nombre'|trans([],'admin') }}</th>
                <th>{{ 'descripcion'|trans([],'admin') }}</th>
                <th>{{ 'parametros'|trans([],'admin') }}</th>
                <th>{{ 'habilitado'|trans([],'admin') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for  nomenclador in nomencladores %}
                <tr>
                    <td>{{ nomenclador.codigo }}</td>
                    <td>{{ nomenclador.nombre }}</td>
                    <td>{{ nomenclador.descripcion }}</td>
                    <td>{{ nomenclador.parametros ? nomenclador.parametros|json_encode : '' }}</td>
                    <td>{{ nomenclador.habilitado ? 'si'|trans([],'admin') : 'no'|trans([],'admin') }}</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="{{ path(config.routes.show, {'id': nomenclador.id}) }}"
                           title="{{ 'mostrar'|trans([],'admin') }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-xs btn-default" href="{{ path(config.routes.edit, {'id': nomenclador.id}) }}"
                           title="{{ 'editar'|trans([],'admin') }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'No se encontraron registros'|trans([],'admin') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-sm btn-primary" href="{{ path(config.routes.new) }}">
        {{ 'nuevo'|trans([],'admin') }}
    </a>
{% endblock %}
