{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ nomenclador.id }}</td>
        </tr>
        <tr>
            <th>{{ 'codigo'|trans([],'admin') }}</th>
            <td>{{ nomenclador.codigo }}</td>
        </tr>
        <tr>
            <th>{{ 'nombre'|trans([],'admin') }}</th>
            <td>{{ nomenclador.nombre }}</td>
        </tr>
        <tr>
            <th>{{ 'descripcion'|trans([],'admin') }}</th>
            <td>{{ nomenclador.descripcion }}</td>
        </tr>
        <tr>
            <th>{{ 'parametros'|trans([],'admin') }}</th>
            <td>{{ nomenclador.parametros ? nomenclador.parametros|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'habilitado'|trans([],'admin') }}</th>
            <td>{{ nomenclador.habilitado ? 'si'|trans([],'admin') : 'no'|trans([],'admin') }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-sm btn-primary" href="{{ path(config.routes.edit, {'id': nomenclador.id}) }}">
        {{ 'editar'|trans([],'admin') }}</a>
    <a class="btn btn-sm btn-default" href="{{ path(config.routes.index) }}">
        {{ 'No se encontraron registros'|trans([],'admin') }}</a>

    <div class="pull-right">
        {{ include('admin/crud/nomenclador/_delete_form.html.twig') }}
    </div>
{% endblock %}
