{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ settings.titles.index }}{% endblock %}
{% block panel_title %}{{ settings.titles.index }}{% endblock %}
{% block panel_body %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ 'nombre'|trans([],'admin') }}</th>
                <th>{{ 'descripcion'|trans([],'admin') }}</th>
                <th>{{ 'habilitado'|trans([],'admin') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {# @var grupo \App\Entity\Grupo #}
            {% for grupo in pagination %}
                <tr>
                    <td>{{ grupo.nombre }}</td>
                    <td>{{ grupo.descripcion }}</td>
                    <td>{{ grupo.habilitado ? 'si'|trans([],'admin') : 'no'|trans([],'admin') }}</td>
                    <td>
                        <a class="btn btn-xs btn-default" href="{{ path('admin_grupo_edit', {'id': grupo.id}) }}"
                           title="{{ 'editar'|trans([],'admin') }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'No se encontraron registros'|trans({},'admin') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pull-right">
        <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
    </div>
    <a class="btn btn-sm btn-primary" href="{{ path('admin_grupo_new') }}">
        {{ 'crear grupo'|trans({}, 'admin') }}</a>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.article').readmore({
                collapsedHeight: 0,
                moreLink: '<a href="#">Ver más...</a>',
                lessLink: '<a href="#">Ver menos</a>',
                embedCSS: true,
            });
        });
    </script>
{% endblock %}
