{% extends 'base.html.twig' %}

{% block title %}Grupo{% endblock %}

{% block body %}
    <h1>Grupo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ grupo.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ grupo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ grupo.descripcion }}</td>
            </tr>
            <tr>
                <th>Parametros</th>
                <td>{{ grupo.parametros ? grupo.parametros|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ grupo.end ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{{ grupo.habilitado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ grupo.lft }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ grupo.rgt }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ grupo.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('grupo_index') }}">back to list</a>

    <a href="{{ path('grupo_edit', {'id': grupo.id}) }}">edit</a>

    {{ include('admin/grupo/_delete_form.html.twig') }}
{% endblock %}
