{# @var node \App\Entity\Estructura #}
<ol class="dd-list">
    {% for node in nodes %}
        {% set tipos = [] %}
        {% for tipo in node.tipos %}
            {% set tipos = tipos|merge([tipo.nombre]) %}
        {% endfor %}
        <li class="dd-item"
            data-id="{{ node.id }}"
            data-codigo_postal="{{ node.codigoPostal }}"
            data-nombre="{{ node.nombre }}"
            data-provincia="{{ node.municipio.parent }}"
            data-municipio="{{ node.municipio }}"
            data-tipos="{{ tipos|json_encode }}"
            data-habilitado="{{ node.habilitado ? 'si'|trans([],'admin') : 'no'|trans([],'admin') }}">
            <div class="dd-handle dd-nodrag">
                <div style="margin-left: 22px">
                    <span class="pull-right">
                        {% include 'admin/estructura/includes/_nestable_inputs.html.twig' with {'node': node} only %}
                    </span>
                    {{ node.nombre }}
                    <span class="label h-bg-navy-blue" title="Provincia, Municipio y Código Postal">
                        <i class="fa fa-map-signs"></i>
                        {{ node.provincia }}, {{ node.municipio }}, {{ node.codigoPostal }}
                    </span>
                    <span class="label h-bg-navy-blue" title="Tipo de estructura">
                        <i class="fa fa-industry"></i>
                        {{ node.tipos.toArray|join(', ') }}
                    </span>
                    {% if node.habilitado %}
                        <span class="label h-bg-green" title="Hablitado"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="label h-bg-red" title="Deshabilitado"><i class="fa fa-close"></i></span>
                    {% endif %}
                </div>
            </div>
            {% if node.children|length > 0 %}
                {% include 'admin/estructura/includes/_nestable.html.twig' with {'nodes': node.children} only %}
            {% endif %}
        </li>
    {% endfor %}
</ol>