<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6 col-sm-4 col-lg-4 m-t-xs">
            {% if fields|length > 1 %}
                <select name="{{ filterFieldName }}" class="form-control input-sm select2">
                    {% for field, label in fields %}
                        <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="hidden" name="{{ filterFieldName }}" value="{{ fields|keys|first }}"/>
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-3 col-lg-4 m-t-xs">
            <input type="text" value="{{ selectedValue }}" name="{{ filterValueName }}" class="form-control input-sm"/>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 m-t-xs">
                    <button class="btn btn-sm btn-success  btn-block">{{ options.button|trans({},'knp_paginator') }}</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 m-t-xs">
                    {% if options.reset is defined %}
                        <a class="btn btn-sm btn-default btn-block"
                           href="{{ path(options.reset.route) }}">{{ options.reset.button|trans({},'knp_paginator') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>