{% block panel_body %}
    <div class="row col-md-12 m-b">
        <div class="well well-lg">

            <p><strong>Saca No. </strong>{{ envios[0].saca.codigo}} <strong>Peso</strong> {{ envios[0].saca.peso }} <strong>Kg.</strong>
            <br/>

            <p style="border-bottom:1px solid #000000;"><strong>LISTADO DE LOS ENVÍOS DE LA SACA</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% for envio in envios %}
                {% if envio.estado.codigo == 'APP_ENVIO_ESTADO_RECIBIDA' %}

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panelenvio_{{envio.id}}">
                    <label class="form-label">Envio codigo <span class="text-info">[{{ envio.CodTracking }}]</span> peso <span class="text-info">[{{envio.peso}}]</span> en estado <span class="text-info">[{{ envio.estado.nombre }}]</span> &nbsp; + &nbsp;
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{envio.id}}" aria-expanded="false" aria-controls="collapse{{envio.id}}" class="collapsed">
                            Irregularidades </a></label>
                </div>
            </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="panelenvio_{{envio.id}}">

                        <input class="form-check-input checkbox-envios" type="checkbox" value="{{envio.id}}" id="checkenvio_{{envio.id}}" checked>
                        <label class="form-label">Envio codigo <span class="text-info">[{{ envio.CodTracking }}]</span> peso <span class="text-info">[{{envio.peso}}]</span> en estado <span class="text-info">[{{ envio.estado.nombre }}]</span> &nbsp; + &nbsp;
                            <a data-toggle="collapse" data-parent="#accordion" href="#ecollapse{{envio.id}}" aria-expanded="false" aria-controls="ecollapse{{envio.id}}" class="collapsed ecollapse{{envio.id}}">
                                Irregularidades </a></label>

                    </div>
                    <div id="ecollapse{{envio.id}}" class="panel-collapse collapse ecollapse{{envio.id}}" role="tabpanel" aria-labelledby="panelenvio_{{envio.id}}" aria-expanded="false">
                        <div class="panel-body" id="envioanomaliaslist{{envio.id}}">
                            {% for an in anomaliasE %}
                                <div class="col-md-12" style="margin-bottom: 10px;">
                                    <div class="col-md-4">
                                        <input class="form-check-input check-anomalia {{an.codigo}}" type="checkbox" value="{{an.codigo}}" >
                                        <label class="form-label {{an.codigo}}">{{an.nombre}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control {{an.codigo}}" type="text" value="" id="{{envio.id}}_anomalia_{{an.codigo}}">
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="pull-right" style="margin-top: 25px;">
                                <button class="ladda-button btn btn-primary" data-style="expand-left" onclick="guardarAnomaliaEnvio('{{ envio.id }}')" id="btn-anomalia-envio-{{ envio.id }}"> <span class="ladda-label"><i class="fa fa-check"></i> Guardar</span><span class="ladda-spinner"></span></button>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <p style="border-bottom:1px solid #000000;"><strong>RECEPCIÓN DE LOS ENVIOS</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="row col-md-12 m-b">

        <div class="col-md-4">
            <button class="ladda-button btn btn-primary" data-style="expand-left" onclick="aperturarSaca({{codTracking}})" id="button_aperturar_saca"> <span class="ladda-label"><i class="fa fa-check"></i> Aperturar saca</span><span class="ladda-spinner"></span></button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js',{ callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/saca.js') }}"></script>
    <script src="{{ asset('js/factura.js') }}"></script>

{% endblock %}
