{% extends 'base.html.twig' %}

{% block title %}Nomenclador index{% endblock %}

{% block body %}
    <h1>Nomenclador index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'name'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'description'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'parameters'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'code'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'end'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'enabled'|trans({}, 'nomenclador') }}</th>
            <th>{{ 'actions'|trans({}, 'nomenclador') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for nomenclador in nomencladors %}
            <tr>
                <td>{{ nomenclador.nombre }}</td>
                <td>{{ nomenclador.descripcion }}</td>
                <td>{{ nomenclador.parametros ? nomenclador.parametros|json_encode : '' }}</td>
                <td>{{ nomenclador.codigo }}</td>
                <td>{{ nomenclador.end ? 'Yes' : 'No' }}</td>
                <td>{{ nomenclador.habilitado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('nomenclador_show', {'id': nomenclador.id}) }}">{{ 'show'|trans({}, 'nomenclador') }}</a>
                    <a href="{{ path('nomenclador_edit', {'id': nomenclador.id}) }}">{{ 'edit'|trans({}, 'nomenclador') }}</a>
                    <a href="{{ path('nomenclador_child_index', {'codigo': nomenclador.codigo}) }}">
                        {{ 'list of children'|trans({}, 'nomenclador') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'no records found'|trans({}, 'nomenclador') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nomenclador_new') }}">{{ 'create new'|trans({}, 'nomenclador') }}</a>
{% endblock %}
