{% extends 'base.html.twig' %}

{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}

{% block body %}
    <h1>{{ title|trans([],config.translation_domain) }}</h1>

    {{ include('admin/crud/tree/_form.html.twig', {'button_label': 'save'|trans([],'nomenclador')}) }}

    <a href="{{ path(config.routes.index,{'parent': nomencladorParent.codigo}) }}">
        {{ 'back to list'|trans([],'nomenclador') }}
    </a>

    {{ include('admin/crud/tree/_delete_form.html.twig') }}
{% endblock %}
