{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_body %}
    {{ include('admin/crud/tree/_form.html.twig', {'button_label': 'save'|trans([],'nomenclador')}) }}
    <a class="btn btn-sm btn-default" href="{{ path(config.routes.index,{'parent': nomencladorParent.codigo}) }}">
        {{ 'back to list'|trans([],'nomenclador') }}
    </a>
    {{ include('admin/crud/tree/_delete_form.html.twig') }}
{% endblock %}
