{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_body %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'code'|trans([],'nomenclador') }}</th>
            <th>{{ 'name'|trans([],'nomenclador') }}</th>
            <th>{{ 'description'|trans([],'nomenclador') }}</th>
            <th>{{ 'parameters'|trans([],'nomenclador') }}</th>
            <th>{{ 'enabled'|trans([],'nomenclador') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for  nomenclador in nomencladores %}
            <tr>
                <td>{{ nomenclador.codigo }}</td>
                <td>{{ nomenclador.nombre }}</td>
                <td>{{ nomenclador.descripcion }}</td>
                <td>{{ nomenclador.parametros ? nomenclador.parametros|json_encode : '' }}</td>
                <td>{{ nomenclador.habilitado ? 'Yes'|trans([],'nomenclador') : 'No'|trans([],'nomenclador') }}</td>
                <td>
                    <a href="{{ path(config.routes.show, {'parent': nomencladorParent.codigo,'id': nomenclador.id}) }}"
                       class="btn btn-xs btn-default" title="{{ 'show'|trans([],'nomenclador') }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path(config.routes.edit, {'parent': nomencladorParent.codigo,'id': nomenclador.id}) }}"
                       class="btn btn-xs btn-default" title="{{ 'edit'|trans([],'nomenclador') }}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {% if nomenclador.parent.end == false %}
                        <a href="{{ path(config.routes.index,{'parent': nomenclador.codigo}) }}"
                           class="btn btn-xs btn-default" title="{{ 'list of children'|trans([],'nomenclador') }}">
                            <i class="fa fa-list"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'no records found'|trans([],'nomenclador') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-primary" href="{{ path(config.routes.new,{'parent': nomencladorParent.codigo}) }}">
        {{ 'create new'|trans([],'nomenclador') }}</a>

    {% if nomencladorParent.parent %}
        <a class="btn btn-sm btn-default" href="{{ path(config.routes.index, {'parent': nomencladorParent.parent.codigo}) }}">
            {{ 'back to'|trans({'%name%': nomencladorParent.parent.nombre},'nomenclador') }}</a>
    {% endif %}
{% endblock %}
