{% extends 'homer-theme/layout.html.twig' %}
{% block title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_title %}{{ title|trans([],config.translation_domain) }}{% endblock %}
{% block panel_body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ nomenclador.id }}</td>
        </tr>
        <tr>
            <th>{{ 'code'|trans([],'nomenclador') }}</th>
            <td>{{ nomenclador.codigo }}</td>
        </tr>
        <tr>
            <th>{{ 'name'|trans([],'nomenclador') }}</th>
            <td>{{ nomenclador.nombre }}</td>
        </tr>
        <tr>
            <th>{{ 'description'|trans([],'nomenclador') }}</th>
            <td>{{ nomenclador.descripcion }}</td>
        </tr>
        <tr>
            <th>{{ 'parameters'|trans([],'nomenclador') }}</th>
            <td>{{ nomenclador.parametros ? nomenclador.parametros|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'enabled'|trans([],'nomenclador') }}</th>
            <td>{{ nomenclador.habilitado ? 'Yes'|trans([],'nomenclador') : 'No'|trans([],'nomenclador') }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-default" href="{{ path(config.routes.index,{'parent': nomencladorParent.codigo}) }}">
        {{ 'back to list'|trans([],'nomenclador') }}</a>

    <a class="btn btn-sm btn-primary" href="{{ path(config.routes.edit, {'parent': nomencladorParent.codigo,'id': nomenclador.id}) }}">
        {{ 'edit'|trans([],'nomenclador') }}</a>

    {{ include('admin/crud/tree/_delete_form.html.twig') }}
{% endblock %}
