{{ form_start(form) }}
{% for f in form %}
    {% if f.vars.name != '_token' %}
        <div class="form-group">
            {{ form_label(f) }}
            <div class="col-sm-10">
                {{ form_widget(fv) }}
                {{ form_help(fv) }}
                {{ form_errors(fv) }}
            </div>
        </div>
    {% endif %}
{% endfor %}

<button class="btn btn-sm btn-success">{{ button_label|default('save'|trans([],'nomenclador')) }}</button>

<a href="{{ path('admin_localizacion_index') }}"
   class="btn btn-sm btn-default">{{ 'back to list'|trans([],'nomenclador') }}
</a>

{{ form_errors(form) }}
{{ form_help(form) }}
{{ form_end(form) }}
