{% extends 'homer-theme/base.html.twig' %}
{% block bodyClass %}blank{% endblock %}
{% block layout %}
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>CAMBIO DE CONTRASEÑA</h3>
                </div>
                <div class="hpanel">
                    {{ form_start(form) }}
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.usuario) }}
                            {{ form_widget(form.usuario) }}
                            {{ form_help(form.usuario) }}
                            {{ form_errors(form.usuario) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.contrasena.first,null,{'label_attr':{'class': 'control-label required'}}) }}
                            {{ form_widget(form.contrasena.first,{required:true}) }}
                            {{ form_help(form.contrasena.first) }}
                            {{ form_errors(form.contrasena.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.contrasena.second,null,{'label_attr':{'class': 'control-label required'}}) }}
                            {{ form_widget(form.contrasena.second,{required:true}) }}
                            {{ form_help(form.contrasena.second) }}
                            {{ form_errors(form.contrasena.second) }}
                        </div>
                        <button class="btn btn-success btn-block">Cambiar</button>
                        <a class="btn btn-default btn-block" href="{{ path('app_logout') }}">Cancelar</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Sistema de Gestión Paquetería Express<br/>
                {{ 'now'|date('Y') }} | Derecho de autor Centro Principal Tecnológico Postal (<strong>CPTP</strong>)
            </div>
        </div>
    </div>
{% endblock %}
