{% extends 'homer-theme/layout.html.twig' %}
{% block body %}
    <div class="hpanel blog-box">

        <div class="panel-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2 border-right">
                    <img src="{{ asset('homer-theme/images/profile.png') }}" width="150px">
                </div>
                <div class="col-md-5">
                    {{ form_label(form.persona) }}
                    <div class="row">
                        <div class="col-sm-6">{{ form_row(form.persona.numero_identidad) }}</div>
                        <div class="col-sm-6">{{ form_row(form.cargo) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ form_row(form.persona.nombre_primero) }}</div>
                        <div class="col-sm-6">{{ form_row(form.persona.nombre_segundo) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ form_row(form.persona.apellido_primero) }}</div>
                        <div class="col-sm-6">{{ form_row(form.persona.apellido_segundo) }}</div>
                    </div>
                </div>
                <div class="col-md-5">
                    {{ form_row(form.credencial) }}
                    {{ form_row(form.estructura) }}
                    {{ form_row(form.grupos) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-sm btn-success">{{ 'guardar'|trans({},'admin') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

