{% extends 'homer-theme/layout.html.twig' %}

{% block title %}Crear Factura{% endblock %}
{% block panel_title %}Generación de factura de entrega{% endblock %}
{% block panel_body %}

    <div id="miForm">
        <div class="row col-md-12 m-b">

            <legend><h5>Destino de la factura</h5></legend>

            <div class="col-md-3">
                <label class="form-label">Oficina de destino</label>
                <select id="select_oficinas_factura" class="form-control input-sm select2" aria-label="Oficinas">
                    <option  value="0" selected>Seleccione</option>
                    {% for estructura in findAll %}

                        <option value="{{ estructura.id }}">{{ estructura }}</option>

                    {% endfor %}
                </select>
                <div id="mensaje_oficina"></div>
            </div>

        </div>

        <div class="row col-md-12 m-b">

            <legend><h5>Asignación de las sacas a la factura</h5></legend>

            <div class="col-md-6">
                <label class="form-label">Código de tracking  o Sello de la saca</label>
                <input id="input_sello" type="text">
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" onclick="AgregarSaca()" id="button_anndir_sacas">
                    <i class="fa fa-plus"></i>
                    Añadir
                </button>
            </div>

            <br><br><br>

            <div class="col-md-8">
                <table class="table table-hover table-bordered table-striped" id="tabla_sacas">
                    <thead>
                    <tr>
                        <th>Código de tracking o Sello</th>
                        <th>Peso</th>
                    </tr>
                    </thead>
                    <tbody id="resultado">

                    </tbody>
                </table>
                <div id="mensaje_tabla"></div>
            </div>


        </div>

        <div class="row col-md-12 m-b">

            <legend><h5>Datos para generar la factura</h5></legend>

            <div class="col-md-3">
                <label class="form-label">Tipo de vehículo</label>
                <select id="select_tipo_vehiculo" class="form-control input-sm select2" aria-label="Tipo de vehiculo">
                    <option  value="0" selected>Seleccione</option>
                    {% for v in vehiculos %}

                        <option value="{{ v.id }}">{{ v.nombre }}</option>

                    {% endfor %}

                </select>
                <div id="mensaje_tipo_vehiculo"></div>
            </div>

            <div class="col-md-2">
                <label class="form-label">Chapa</label>
                <input id="input_chapa" class="form-control input-sm" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
                <div id="mensaje_chapa"></div>
            </div>

            <div class="col-md-3">
                <label class="form-label">Choferes</label>
                <select id="select_choferes" class="form-control input-sm select2" aria-label="Choferes">
                    <option  value="0" selected>Seleccione</option>
                    {% for item in choferes %}

                        <option value="{{ item.id }}">{{ item.nombrecompleto }}</option>

                    {% endfor %}
                </select>
                <div id="mensaje_choferes"></div>
            </div>

        </div>

        <hr>

        <div class="row col-md-12 m-b">

            <div class="col-auto" id="botones">
                <button class="btn btn-success" onclick="GuardarFactura()" id="button_crear_factura">Crear Factura</button>

                <a rel="nofollow" id="generar_factura" href="#" class="btn btn btn-primary">Generar Factura</a>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js',{ callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/factura.js') }}"></script>

{% endblock %}
