
{% block panel_body %}
    <div class="row col-md-12 m-b">

        <div class="well well-lg">

            <p style="border-bottom:1px solid #000000;"><strong>VALIJAS PRESENTES EN LA FACTURA</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                {% for saca in sacas %}

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="panelSaca_{{saca.id}}">

                    <input class="form-check-input" type="checkbox" value="{{saca.id}}" id="checkSaca_{{saca.id}}" checked>
                    <label class="form-label">SACA No. [{{ saca.sello }}] código [{{saca.codigo}}] en estado [{{ saca.estado.nombre }}] &nbsp; + &nbsp;
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{saca.id}}" aria-expanded="false" aria-controls="collapse{{saca.id}}" class="collapsed">
                            Irregularidades </a></label>

                </div>
                <div id="collapse{{saca.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelSaca_{{saca.id}}" aria-expanded="false">
                    <div class="panel-body" id="anomaliaslist">
                        {% for an in anomalias %}
                            <div class="col-md-12" style="margin-bottom: 10px;">
                                <div class="col-md-4">
                                    {{an.nombre}}
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" value="" id="text_anomalia_{{an.codigo}}">
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pull-right" style="margin-top: 25px;">
                            <button class="btn btn-primary" onclick="guardarAnomalia()"><i class="fa fa-check"></i> Guardar </button>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    </div>

    <p style="border-bottom:1px solid #000000;"><strong>RECEPCIÓN DE LA VALIJA</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="row col-md-12 m-b">

        <div class="col-md-4">
            <button class="btn btn-primary" onclick="recepcionarFactura({{noFactura}})"><i class="fa fa-check"></i> Recepcionar valijas</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js',{ callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/factura.js') }}"></script>

{% endblock %}

